<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student data add</title>
</head>
<body>
    <form action="/submit" method="post">
        <input type="text" placeholder="Enter Name" name="name"><br><br>
        <input type="number" placeholder="Enter age" name="age"><br><br>
        <input type="email" placeholder="Enter Email" name="email"><br><br>
        <input type="number" placeholder="Enter Phone number" name="phone"><br><br>
        <button>Add Student</button>
        <a href="/student-info"><button type="button"> Show Students Information</button></a>
    </form>
    
</body>
</html>